# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release

# Dependency directories
node_modules/
jspm_packages/

# TypeScript build folder
dist/

# Yarn Integrity file
.yarn-integrity

# dotenv environment variable files
.env
.env.test
.env.production
.env.local

# VSCode
.vscode/
.history

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db

# Log files
npm-debug.log*
yarn-error.log*

# Debug folder
debug/

# Firebase cache
.firebase/

